<!-- Main jumbotron for a primary marketing message or call to action -->




      <!-- Example row of columns -->

      <table class="table table-striped">
        <thead>
          <tr><th>Solution</th><th>Demo</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h4>Express Checkout</h4>
            </td>
            <td>
              <p>
                <label for="q_s">SetEC query</label>
                <textarea id="q_s" class="form-control" rows="3">PAYMENTREQUEST_0_AMT=100
&PAYMENTREQUEST_0_PAYMENTACTION=Sale
                </textarea>
                <label for="q_d">DoEC query</label>
                <textarea id="q_d" class="form-control" rows="3">PAYMENTREQUEST_0_AMT=100
&PAYMENTREQUEST_0_PAYMENTACTION=Sale
                </textarea>
                <a href="#" data-paypal-button="true" onclick="go_ec();return false;">
                  <img src="//www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="Check out with PayPal" />
                </a>
                <% if flash.key?(:ec_msg) then %>
                  <div class="alert <%= flash[:ec_msg] == "Success!" ? 'alert-success' : 'alert-danger' %>" role="alert"><%= flash[:ec_msg] %></div>
                  <p id="m1">
                    <%= flash[:method] %>
                  </p>
                  <p id="r1">
                    <%= flash[:res] %>
                  </p>
                  <script>
                  get_ec();
                  </script>
                  <p id="m2">

                  </p>
                  <p id="r2">

                  </p>
                  <a href="/">Return</a>
                <% end %>
              </p>
            </td>
          </tr>

          </tbody>
        </table>

      <script>
      function go_ec() {
        var q_s = 'q_s=' + encodeURIComponent($('#q_s').val().replace('\n', ''));
        var q_d = 'q_d=' + encodeURIComponent($('#q_d').val().replace('\n', ''));
        //var base = window.location.href.replace(window.location.pathname, '');
        window.location.href = 'xo/1/?' + q_s + '&' + q_d;
      }
      </script>


    </div> <!-- /container -->
