<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Ruby Shopping Cart</h1>
        <p>This is my sandbox for PayPal Ruby.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Item1</h2>
          <p>Sample item.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a>
          <form action='xo/1' METHOD='GET'>
  　　　　　  <input  type='image' name='submit' src='https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif' border='0'  alt='Check out with PayPal'/>
  　　　　　</form>
          </p> 
        </div>

      </div>

      <hr>


    </div> <!-- /container -->
