<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Ruby Shopping Cart</h1>
        <p>This is my sandbox for PayPal Ruby.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Express Checkout</h2>
          <p>
            <a href="/xo/1" data-paypal-button="true">
             <img src="//www.paypalobjects.com/en_US/i/btn/btn_xpressCheckout.gif" alt="Check out with PayPal" />
            </a>
          </p>
        </div>


      </div>

      <hr>


    </div> <!-- /container -->
