<html>
<head>
  <%= @ug %>
</head>
<body>
<form method="POST" action="rdcheck/rd">
  <input type="hidden" name="rd" value="https://jo-static-web.herokuapp.com/noug.html">
<input type="submit" value="Redirect">
</form>

</body>
</html>
