<table class="table table-striped">
  <tbody>
	  <tr>
	  <td>
	  Card Number
	  </td>
	  <td>
	  <%= text_field_tag('t_cardno', @t_cardno, :class=>'form-control') %>
	  </td>
    </tr>
  </tbody>
</table>
