<div class="row">
  <div class="col-md-9">
    <h4>Express Checkout Best Practice
      <a target="_blank" href="https://www.paypal.jp/merchant/service/express-checkout/integration.html">details</a>
    </h4>
  </div>
  <div class="col-md-3 align-right">
  <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="#" onclick="javascript:window.open('https://www.paypal.jp/jp/contents/popup/logo/SG_mc_vs_am_jcb_JP_203_80/','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=900, height=700');"><img src="https://www.paypal.jp/uploadedImages/wwwpaypaljp/Supporting_Content/jp/contents/popup/logo/SG_mc_vs_am_jcb_JP_203_80.png" border="0" alt="その他のオプション"></a></td></tr></table><!-- PayPal Logo -->
  </div>
</div>

<table class="table table-striped">
  <thead>
      <tr>
        <th>No.</th>
        <th>Item</th>
        <th>Buy</th>
      </tr>
  </thead>
  <tbody>

    <tr>
      <td style="width:1%">1001</td>
      <td style="width:50%">
        <div class="row">
          <div class="col-md-3">
            <img class="img-responsive" style="height:60px; width:auto;" src="/images/shoes.jpg" >
          </div>
          <div class="col-md-7">
            <label>Greate Shoes</label>
            <p>¥10,000</p>
          </div>
      </td>
      <td>
        <select class="form-control" style="width:100px;">
          <option id="">None</option>
          <option id="1">1</option>
          <option id="2">2</option>
          <option id="3">3</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>2002</td>
      <td>
        <div class="row">
          <div class="col-md-3">
            <img class="img-responsive" style="height:60px; width:auto;" src="/images/wine.png" >
          </div>
          <div class="col-md-7">
            <label>Greate Wine</label>
            <p>¥20,000</p>
          </div>
      </td>
      <td>
        <select class="form-control" style="width:100px;">
          <option id="">None</option>
          <option id="1">1</option>
          <option id="2">2</option>
          <option id="3">3</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>

<label>Select Payment</label>
<table class="table">
  <tbody>
    <tr>
      <td>
        <input type="radio" checked> PayPal
      </td>
      <td>
        <div class="row">
          <div class="col-md-3">
        <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="#" onclick="javascript:window.open('https://www.paypal.jp/jp/contents/popup/logo/AM_190_65/','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=900, height=700');"><img src="https://www.paypal.jp/uploadedImages/wwwpaypaljp/Supporting_Content/jp/contents/popup/logo/AM_190_65.png" border="0" alt="その他のオプション"></a></td></tr></table><!-- PayPal Logo -->
         </div>
         <div class="col-md-7 small">
           <p class="small">
            ペイパルは、インターネット上の便利な【デジタルおさいふ】です。ペイパルにクレジットカード情報を登録しておけば、IDとパスワードだけで決済完了。お店に大切なカード情報を知らせることなく、より安全に支払いができます。ペイパルアカウントの開設は、決済方法でPayPalを選択して必要事項を入力するだけなのでかんたんです。
          </p>
         </div>
      </td>
    </tr>
    <tr>
      <td style="width:20%">
        <input type="radio" disabled> Credit Card
      </td>
      <td>
        <img src="/images/dcc.png">
      </td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-7"></div>
  <div class="col-md-3">
    <form action='web/checkout'>
     <button type="submit" class="btn btn-primary btn-lg btn-block">Next</button>
   </form>
</div>
<p>
<%=@res%>
</p>
</div>
<br/>


<h4>
  In-Context Express Checkout
  <a target="_blank" href="https://developer.paypal.com/docs/classic/express-checkout/in-context/">details</a>
</h4>
<br/>
<form id="myContainer" method="get" action="/web/checkout">
  <input type="hidden" name="context" value="true">
  <input type="hidden" name="is_us" value="<%= @is_us.to_s %>">
</form>
<script>
  window.paypalCheckoutReady = function () {
    paypal.checkout.setup('<%= @merchant_id %>', {
      container: 'myContainer',
      environment: 'sandbox'
    });
  };
</script>
<script src="//www.paypalobjects.com/api/checkout.js" async></script>
<br/>
<br/>


<h4>
  Wep Payment Plus (Hosted Solutiuon) for PC by template B
  <a target="_blank" href="https://www.paypal.jp/merchant/service/web-payment-plus/integration.html">details</a>
</h4>

<iframe name="hss_iframe" width="470px" height="320px" style="border:none;"></iframe>
<form style="display:none;" method="post" name="form_iframe" target="hss_iframe"
action="https://securepayments.sandbox.paypal.com/webapps/HostedSoleSolutionApp/
webflow/sparta/hostedSoleSolutionProcess">
<input type="hidden" name="cmd" value="_hosted-payment">
<input type="hidden" name="subtotal" value="320000">
<input type="hidden" name="currency_code" value="JPY">
<input type="hidden" name="business" value="W2RNXXPHP3YXE">
<input type="hidden" name="paymentaction" value="sale">
<input type="hidden" name="template" value="templateD">
<input type="hidden" name="billing_address1" value="Address1">
<input type="hidden" name="billing_address2" value="">
<input type="hidden" name="billing_city" value="Setagaya-ku">
<input type="hidden" name="billing_country" value="JP">
<input type="hidden" name="billing_first_name" value="Taro">
<input type="hidden" name="billing_last_name" value="Test">
<input type="hidden" name="billing_state" value="Tokyo">
<input type="hidden" name="billing_zip" value="1234567">
<!--<input type="hidden" name="return" value="https://twitter.com/">-->
</form>
<script type="text/javascript">
 document.form_iframe.submit();
</script>
<br/>
<br/>

<h4>
  Wep Payment Plus (Hosted Solutiuon) for mobile by mobile-iframe
  <a target="_blank" href="https://www.paypal.jp/merchant/service/web-payment-plus/integration.html">details</a>
</h4>

<iframe name="hss_iframe_mobile" width="320px" height="320px" style="border:none;"></iframe>
<form style="display:none;" method="post" name="form_iframe_mobile" target="hss_iframe_mobile"
action="https://securepayments.sandbox.paypal.com/webapps/HostedSoleSolutionApp/
webflow/sparta/hostedSoleSolutionProcess">
<input type="hidden" name="cmd" value="_hosted-payment">
<input type="hidden" name="subtotal" value="320000">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="business" value="W2RNXXPHP3YXE">
<input type="hidden" name="paymentaction" value="sale">
<input type="hidden" name="template" value="mobile-iframe">
<input type="hidden" name="billing_address1" value="Address1">
<input type="hidden" name="billing_address2" value="">
<input type="hidden" name="billing_city" value="Setagaya-ku">
<input type="hidden" name="billing_country" value="JP">
<input type="hidden" name="billing_first_name" value="Taro">
<input type="hidden" name="billing_last_name" value="Test">
<input type="hidden" name="billing_state" value="Tokyo">
<input type="hidden" name="billing_zip" value="1234567">
<!--<input type="hidden" name="return" value="https://twitter.com/">-->
</form>
<script type="text/javascript">
 document.form_iframe_mobile.submit();
</script>
<br/>
<br/>

<form method="post"
action="https://securepayments.sandbox.paypal.com/webapps/HostedSoleSolutionApp/
webflow/sparta/hostedSoleSolutionProcess">
<input type="hidden" name="cmd" value="_hosted-payment">
<input type="hidden" name="subtotal" value="50">
<input type="hidden" name="business" value="W2RNXXPHP3YXE">
<input type="hidden" name="paymentaction" value="authorization">
<input type="hidden" name="template" value="templateA">
<input type="hidden" name="billing_address1" value="Address1">
<input type="hidden" name="billing_address2" value="">
<input type="hidden" name="billing_city" value="Setagaya-ku">
<input type="hidden" name="billing_country" value="US">
<input type="hidden" name="billing_first_name" value="Taro">
<input type="hidden" name="billing_last_name" value="Test">
<input type="hidden" name="billing_state" value="Tokyo">
<input type="hidden" name="billing_zip" value="1234567">
<input type="submit" value="Pay in template A using authorization">
</form>
<br/>

<form method="post"
action="https://securepayments.sandbox.paypal.com/webapps/HostedSoleSolutionApp/
webflow/sparta/hostedSoleSolutionProcess">
<input type="hidden" name="cmd" value="_hosted-payment">
<input type="hidden" name="subtotal" value="50">
<input type="hidden" name="business" value="W2RNXXPHP3YXE">
<input type="hidden" name="paymentaction" value="sale">
<input type="hidden" name="template" value="templateB">
<input type="hidden" name="billing_address1" value="Address1">
<input type="hidden" name="billing_address2" value="">
<input type="hidden" name="billing_city" value="Setagaya-ku">
<input type="hidden" name="billing_country" value="US">
<input type="hidden" name="billing_first_name" value="Taro">
<input type="hidden" name="billing_last_name" value="Test">
<input type="hidden" name="billing_state" value="Tokyo">
<input type="hidden" name="billing_zip" value="1234567">
<input type="submit" value="Payin template B">
</form>
<br/>

<form method="post"
action="https://securepayments.sandbox.paypal.com/webapps/HostedSoleSolutionApp/
webflow/sparta/hostedSoleSolutionProcess">
<input type="hidden" name="cmd" value="_hosted-payment">
<input type="hidden" name="subtotal" value="50">
<input type="hidden" name="business" value="W2RNXXPHP3YXE">
<input type="hidden" name="paymentaction" value="sale">
<input type="hidden" name="template" value="templateC">
<input type="hidden" name="billing_address1" value="Address1">
<input type="hidden" name="billing_address2" value="">
<input type="hidden" name="billing_city" value="Setagaya-ku">
<input type="hidden" name="billing_country" value="US">
<input type="hidden" name="billing_first_name" value="Taro">
<input type="hidden" name="billing_last_name" value="Test">
<input type="hidden" name="billing_state" value="Tokyo">
<input type="hidden" name="billing_zip" value="1234567">
<input type="submit" value="Payin template C">
</form>
<br/>

<form method="post"
action="https://securepayments.sandbox.paypal.com/webapps/HostedSoleSolutionApp/
webflow/sparta/hostedSoleSolutionProcess">
<input type="hidden" name="cmd" value="_hosted-payment">
<input type="hidden" name="subtotal" value="50">
<input type="hidden" name="business" value="W2RNXXPHP3YXE">
<input type="hidden" name="paymentaction" value="sale">
<input type="hidden" name="template" value="templateD">
<input type="hidden" name="billing_address1" value="Address1">
<input type="hidden" name="billing_address2" value="">
<input type="hidden" name="billing_city" value="Setagaya-ku">
<input type="hidden" name="billing_country" value="US">
<input type="hidden" name="billing_first_name" value="Taro">
<input type="hidden" name="billing_last_name" value="Test">
<input type="hidden" name="billing_state" value="Tokyo">
<input type="hidden" name="billing_zip" value="1234567">
<input type="submit" value="Pay in template D">
</form>
<br/>

<form method="post"
action="https://securepayments.sandbox.paypal.com/webapps/HostedSoleSolutionApp/
webflow/sparta/hostedSoleSolutionProcess">
<input type="hidden" name="cmd" value="_hosted-payment">
<input type="hidden" name="subtotal" value="50">
<input type="hidden" name="business" value="W2RNXXPHP3YXE">
<input type="hidden" name="paymentaction" value="sale">
<input type="hidden" name="template" value="mobile">
<input type="hidden" name="billing_address1" value="Address1">
<input type="hidden" name="billing_address2" value="">
<input type="hidden" name="billing_city" value="Setagaya-ku">
<input type="hidden" name="billing_country" value="US">
<input type="hidden" name="billing_first_name" value="Taro">
<input type="hidden" name="billing_last_name" value="Test">
<input type="hidden" name="billing_state" value="Tokyo">
<input type="hidden" name="billing_zip" value="1234567">
<input type="submit" value="Pay in template mobile">
</form>
<br/>

<form method="post"
action="https://securepayments.sandbox.paypal.com/webapps/HostedSoleSolutionApp/
webflow/sparta/hostedSoleSolutionProcess">
<input type="hidden" name="cmd" value="_hosted-payment">
<input type="hidden" name="subtotal" value="50">
<input type="hidden" name="business" value="W2RNXXPHP3YXE">
<input type="hidden" name="paymentaction" value="sale">
<input type="hidden" name="template" value="mobile-iframe">
<input type="hidden" name="billing_address1" value="Address1">
<input type="hidden" name="billing_address2" value="">
<input type="hidden" name="billing_city" value="Setagaya-ku">
<input type="hidden" name="billing_country" value="US">
<input type="hidden" name="billing_first_name" value="Taro">
<input type="hidden" name="billing_last_name" value="Test">
<input type="hidden" name="billing_state" value="Tokyo">
<input type="hidden" name="billing_zip" value="1234567">
<input type="submit" value="Pay in template mobile-iframe">
</form>
<br/>
