<div class="row">
  <div class="col-md-3" style="width:50%;">
<h4>Express Checkout Best Practice In Japan
  <a target="_blank" href="https://www.paypal.jp/merchant/service/express-checkout/integration.html">details</a>
</h4>
</div>
<div class="col-md-3 align-right" style="width:50%;">
  <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="#" onclick="javascript:window.open('https://www.paypal.jp/jp/contents/popup/logo/SG_mc_vs_am_jcb_JP_203_80/','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=900, height=700');"><img src="https://www.paypal.jp/uploadedImages/wwwpaypaljp/Supporting_Content/jp/contents/popup/logo/SG_mc_vs_am_jcb_JP_203_80.png" border="0" alt="その他のオプション"></a></td></tr></table><!-- PayPal Logo -->
</div>

</div>

<table class="table table-striped">
  <thead>
      <tr>
        <th>No.</th>
        <th>Item</th>
        <th>Buy</th>
      </tr>
  </thead>
  <tbody>

    <tr>
      <td style="width:1%">1001</td>
      <td style="width:50%">
        <div class="row">
          <div class="col-md-3">
            <img class="img-responsive" style="height:60px; width:auto;" src="http://upload.wikimedia.org/wikipedia/commons/4/49/Sports_shoes.jpg" >
          </div>
          <div class="col-md-3">
            <label>Greate Shoes</label>
            <p>¥10,000</p>
          </div>
      </td>
      <td>
        <select class="form-control" style="width:100px;">
          <option id="">None</option>
          <option id="1">1</option>
          <option id="2">2</option>
          <option id="3">3</option>
        </select>
      </td>
    </tr>
    <tr>
      <td style="width:1%">2002</td>
      <td style="width:50%">
        <div class="row">
          <div class="col-md-3">
            <img class="img-responsive" style="height:60px; width:auto;" src="http://pixabay.com/static/uploads/photo/2013/09/25/09/09/wine-186018_640.png" >
          </div>
          <div class="col-md-3">
            <label>Greate Wine</label>
            <p>¥20,000</p>
          </div>
      </td>
      <td>
        <select class="form-control" style="width:100px;">
          <option id="">None</option>
          <option id="1">1</option>
          <option id="2">2</option>
          <option id="3">3</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>

<button class="btn">Pay with PayPal!</button>
